<% macros.each do |macro| %>
  <div class="card-macro" id="card-macro-<%= macro.id %>">
    <%= link_to '', macro_path(macro), class: "overlay-link" %>
      <div class="card-inner" style='background-image: url(<%= macro.photo || Unsplash::Photo.search("Coding").sample.urls.regular %>)'>
      <!-- <div class="card-inner"> -->
        <%#= image_tag(macro.photo || Unsplash::Photo.search("Coding").sample.urls.regular) %>
        <div class="office-icon">
          <% if macro.tag_list.include? "Word" %>
            <i class="fas fa-file-word"></i>
          <% elsif macro.tag_list.include? "Excel" %>
            <i class="fas fa-file-excel"></i>
          <% elsif macro.tag_list.include? "PowerPoint" %>
            <i class="fas fa-file-powerpoint"></i>
          <% end %>
        </div>

        <div class="card-macro-infos">
          <h2 class="title"><%= macro.name %></h2>
          <div class="card-macro-fav">
            <%= render 'shared/star', macro: macro %>
          </div>
        </div>
      </div>
  </div>
<% end %>
