<h1>Edit the macro</h1>
<%= simple_form_for @macro do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :code %>
  <!-- Add tags as checkboxes -->
  <%= f.input :file_type_list, label: "File Types", as: :check_boxes, collection: Macro.file_types, required: :true %>
  <%= f.input :client_list, label: "Clients", as: :check_boxes, collection: Macro.clients %>
  <%= f.input :tag_list, label: "Tags", as: :check_boxes, collection: Macro.tags, required: :true %>
  <%= f.submit class: "btn-purple mb-5" %>
<% end %>
