<h1 class="header">Add a new macro</h1>

<%= simple_form_for @macro do |f| %>
  <div class="form-inputs">
    <%= f.input :name, input_html: { autocomplete: 'off', autofocus: true } %>
    <%= f.input :description, input_html: { autocomplete: 'off' } %>
    <%= f.input :code %>
    <%= f.input :tag_list, as: :check_boxes, collection: Macro.tags, required: :true %>
  </div>

  <div class="form-actions mb-5">
    <%= f.submit class: 'btn btn-sm btn-primary', style: 'background-color: #C375E0; border: #C375E0'%> <span class="button-divider">|</span>
    <%= link_to 'Cancel', macros_path, class: 'btn btn-sm btn-outline-secondary' %>
  </div>
<% end %>
