<div class="banner-macro d-flex flex-column">
  <div class="d-flex justify-content-between buttons">
    <div>
      <%= link_to macros_path, class: 'btn btn-secondary back-btn' do %>
        <i class="fas fa-arrow-left"></i> Back to the list
      <% end %>
    </div>
    <div class="d-flex align-items-center">
      <% if current_user.favorited?(@macro) %>
        <%= link_to unfavorite_path do %>
          <i class="fas fa-star mr-1"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_path do %>
          <i class="far fa-star mr-1"></i>
        <% end %>
      <% end %>
      <%= link_to "Edit", edit_macro_path(@macro), class: "btn btn-secondary back-btn mr-1" %>
      <%= link_to "Remove", macro_path(@macro), method: :delete, class: "btn btn-secondary back-btn"%>
    </div>
  </div>

  <div class="container pt-5">
    <h1><%= @macro.name %></h1>
  </div>
</div>

<h1 class="header">Description</h1>
<%= simple_format(@macro.description) %>

<h1 class="header">Code</h1>
<%= simple_format(@macro.code) %>

<h1 class="header">Tags</h1>
<% if @macro.tag_list.empty? %>
  <h5 class="text-secondary mb-4">No tags yet</h5>
<% else %>
  <% @macro.tag_list[0...-1].each do |tag| %>
    <%= link_to tag, macros_path(tags: tag), class: "link-tags" %> •
  <% end %>
  <%= link_to @macro.tag_list[-1], macros_path(tags: @macro.tag_list[-1]), class: "link-tags" %>
<% end %>

<h1 class="header">Comments</h1>

<%# if @macro.comments.empty? %>
  <h5 class="text-secondary mb-4">No comments yet</h5>
<%# else %>

  <!-- <ol class="mb-5">
    <%# @macro.comments.each do |comment| %>
      <li><%#= comment.content %></li>
    <%# end %>
  </ol> -->
<%# end %>

<%#= link_to 'Add ingredient', new_macro_dose_path(@macro), class: 'btn btn-primary' %>
<%#= link_to 'Add comment', new_macro_comment_path(@macro), class: 'btn btn-primary' %>
