<div class="banner-macro d-flex flex-column">
  <div class="d-flex justify-content-between buttons">
    <div class="d-flex">
      <%= link_to macros_path, class: 'btn btn-secondary back-btn' do %>
        <i class="fas fa-arrow-left"></i> Back to the list
      <% end %>
    </div>
    <div class="d-flex align-items-center">
        <%= render 'shared/star', macro: @macro %>

      <% if current_user.email == "flavia@planetlanguages.com" %>
        <%= link_to "Edit", edit_macro_path(@macro), class: "btn btn-secondary back-btn mr-2" %>
        <%= link_to "Remove", macro_path(@macro), method: :delete, data: {confirm: 'Are you sure you want to delete this macro?' }, class: "btn btn-secondary back-btn"%>
      <% end %>
    </div>
  </div>

  <div class="container pt-5 text-center">
    <% if @macro.file_type_list.include? "Word" %>
      <i class="fas fa-file-word office-icon show"></i>
    <% elsif @macro.file_type_list.include? "Excel" %>
      <i class="fas fa-file-excel office-icon show"></i>
    <% elsif @macro.file_type_list.include? "PowerPoint" %>
      <i class="fas fa-file-powerpoint office-icon show"></i>
    <% end %>
    <h1><%= @macro.name %></h1>
  </div>
</div>

<h2 class="header">Description</h2>
<%= simple_format(@macro.description, style:"white-space: pre-wrap;")%>

<h2 class="header mb-0">Code</h2>
<div class="code-div mt-3">
  <div class="custom-scrollbar">
    <figure>
      <a class="copy-btn mt-2" data-clipboard-target="#code-to-copy">Copy</a>
      <pre>
        <!-- put this in code class="language-markup language-visual-basic" -->
        <code class="py-0 language-visual-basic" id="code-to-copy" data-src-loaded>
          <%= @macro.code %>
        </code>
      </pre>
    </figure>
  </div>
</div>




<h2 class="header">Tags</h2>
<% if @all_tags.nil? || @all_tags.empty? %>
  <h5 class="text-secondary mb-4">No tags yet</h5>
<% else %>
  <% @all_tags[0...-1].each do |tag| %>
    <%= link_to tag, macros_path(tag: tag), class: "tag" %>
  <% end %>
  <%= link_to @all_tags[-1], macros_path(tag: @all_tags[-1]), class: "tag" %>
<% end %>

<h2 class="header">Comments</h2>

<!-- New comment form -->
<%= render 'comments/form', macro: @macro, comment: @comment %>

<!-- If there are no comments -->


<!-- If there are comments -->
<div class="mb-4" id="comments">
  <% if @macro.comments.empty? %>
    <h5 class="text-secondary no-comments mb-4">No comments yet</h5>
  <% else %>

    <% @macro.comments.order('created_at DESC').each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>
  <% end %>
</div>




