<div class="filters d-flex align-items-baseline">
  <div class="dropdown">
    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= inline_svg "icon-filter.svg", class: "filter-svg" %> FILTERS
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= simple_form_for :filter, url: macros_path, method: "GET", remote: true do |f| %>
        <%= f.input :file_types, label: "FILE TYPES", collection: Macro.file_types, required: :false, as: :check_boxes %>
      <div class="dropdown-divider"></div>
        <%= f.input :clients, label: "CLIENTS", collection: Macro.clients, as: :check_boxes %>
      <div class="dropdown-divider"></div>
        <%= f.input :tags, label: "TAGS", collection: Macro.tags, as: :check_boxes %>
        <%#= f.submit "Search", class: "btn apply-filter" %>
        <%= link_to "Clear all filters", macros_path, class: "btn apply-filter" %>
      <% end %>
    </div>
  </div>

  <% if params[:query] || params[:filter] || params[:tag] || @filters %>
    <%= link_to 'Clear search', macros_path, class: "clear-filters" %>
  <% end %>
</div>





