<div class="filters d-flex align-items-baseline">
  <div class="dropdown">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filters
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= form_tag('/macros', method: :get) do %>
        <% Macro.tags.each do |tag| %>
          <%= check_box_tag 'tags[]', tag %>
          <%= tag %>
          <br>
        <% end %>
        <%= submit_tag 'Apply', class: "btn" %>
      <% end %>
    </div>
  </div>

  <% if params[:tags].present? || params[:query].present? %>
    <%= link_to 'Clear filters', macros_path, class: "clear-filters" %>
  <% end %>
</div>


